@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');

.design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b046e;
    padding: 100px 0;
    margin: 20px 0;
    font-family: Jost, serif;
    border-radius: 3%;
}

.design {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.timeline-box {
    margin: 10px 20px 10px 20px;
    padding-left: 20px;
    background: #590977;
    -webkit-box-shadow: 5px 5px 10px #470565, -5px -5px 10px #242424;
    box-shadow: 5px 5px 10px #470565, -5px -5px 10px #242424;
    border-radius: 6px;
    overflow-wrap: break-word !important;
    transition: 0.4s ease;
    cursor: pointer;
    position: relative;
    height: 100px;
}

.company-title {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.company-title .title {
    flex: 1;
}

.company-title .date {
    font-size: 0.5em;
    font-weight: 300;
    margin-left: 10px;
}
.timeline-text {
    color: white;
}

.timeline-text h3,
.timeline-text h4 {
    padding-top: 2%;
}

.timeline-box:hover .timeline-text h3,
.timeline-box:hover .timeline-text h4,
.timeline-box:hover .timeline-text p {
    opacity: 0;
}
.timeline-box:hover:after {
    display: block;
}
.read-more-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}
.timeline-box:hover .read-more-text {
    display: block;
}

.timeline-box.auto-hover .read-more-text {
    display: block;
}

.timeline-box.auto-hover .timeline-text {
    animation: fadeOut 2s ease-in-out;
}

.timeline-box.auto-hover .read-more-text {
    animation: slowFlash 2s ease-in-out;
}


@keyframes slowFlash {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
@media (max-width: 600px) {
    .tech-stack {
        display: block;
        margin-top: 10px;
    }
}
